#navbar {
  padding: 1rem;
}

#navbar .logo {
  font-size: 1rem;
  padding: 0.3rem;
}

#navbar ul li a {
  padding: 1.5rem 0.5rem;
  font-size: 0.8rem;
}

/* Section: What We Do - align items in a row  */
#what .items {
  display: grid;
  grid-template-columns: 1fr;
}

/* Section: What We Are - get rid of img */
#who {
  display: grid;
  grid-template-columns: 1fr;
}

/* Section: Contacts - align items in one row */
#contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

/* footer: smaler text */
footer {
  font-size: small;
}